<!DOCTYPE html>
<html>
<head>
  <title> Rails Completo Udemy </title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<br>
<body>

<%= yield %>

</body>
</html>
